# Serveur
PORT=8001
NODE_ENV=development

# Base de données
MONGODB_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Ollama 
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=  
EMBEDDING_MODEL=nomic-embed-text-v2-moe:latest # Embeding model

# Using FAISS database vector, path to store data
VECTOR_INDEX_STORE_PATH = "vector_data"